// ** Стилі таблиці
h3 {
	font-size: 2.375rem;
	margin-block-end: 1.875rem;
	font-weight: 800;
}
table {
	text-align: center;
	border-collapse: collapse;
}
th,
td {
	padding: 0.3125rem;
	border: 0.125rem solid black;
}
